%h1 
  All your stays should accumulate to 
  = @stays.last.try(:time_to_qualify)
  years in Australia

%table.table.table-striped
  %thead
    %tr
      %th Date of Entry
      %th Date of Exit
      %th
        = link_to('New Stay', new_stay_path, class: 'btn btn-default')
  %tbody
    - @stays.each do |stay|
      %tr
        %td= stay.entry_date
        %td= stay.exit_date
        %td
          = link_to 'Destroy', stay_path(stay), method: :delete, confirm: 'Are you sure?', class: 'btn btn-mini btn-danger'

