%fieldset 
  %legend Entitlement
  = f.input :name
  = f.input :description,     as: :text
  = f.input :time_to_qualify, as: :integer
  = f.input :country,         as: :country

  = f.simple_fields_for :stays do |s|
    %fieldset
      %legend Stays that Accumulate to Entitlement
      = render 'stay_fields', f: s
  = link_to_add_fields 'Add Stay', f, :stays