%h1 It's the final count down!

%div.countr 
  %p
    = link_to('Setup Entitlements for User', new_user_path, class: 'btn btn-default')

%fieldset
  %legend 
    %p
      Countdown for 
      = select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name, @entitlement.user.id), id: 'select_user_id')
    %p
      = qualified_for?(@entitlement)

%fieldset
  %legend
    Breakdown of Time Spent in 
    = @entitlement.country
  %p
    = @entitlement.name 
    in 
    = @entitlement.country 
    requires that you be present in the country for 
    = @entitlement.time_to_qualify 
    years
  %p
    = @entitlement.years_spent_in_country
    years present
  %p
    = @entitlement.months_spent_in_country
    months present
  %p
    = @entitlement.weeks_spent_in_country
    weeks present
  %p
    = @entitlement.method('calculate_total_time_present').call
    days present