!!! XML
!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title Countr

    // <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.container
      - flash.each do |name, msg|
        %div{ :class => "alert alert-#{ (name == :notice) ? 'success' : 'error' }" }
          %a.close{ :data => {dismiss: 'alert'} } x
          = msg
      %h1 Citizenship Countr
      %section
        = yield
